<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>5星标杆</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/reset.css" />
	</head>

	<body>
		<div id="pageContain" class="page-wrap">
			<div class="page page1 current">
				<div class="contain" id="p0">
					<div class="p1-bg max-bg">
						<div class="top-title">
						</div>
						<!--勋章-->
						<div class="remark-box">
							<div class="left-rect"></div>
							<div class="right-rect"></div>
							<div class="circle">
								<div id="star-five">
								</div>
							</div>
						</div>
						<div class="l-r-img">
							<i></i>
							<i></i>
						</div>
						<div class="bottom-dance bottom-dance-h-1">
							<img src="../img/p6-12-l.png" />
							<img src="../img/p6-12-r.png" />
						</div>
						<div class="cloudy c1"></div>
						<div class="cloudy c2"></div>
					</div>
				</div>
			</div>
			<div class="page page2">
				<div class="contain" id="p1">
					<script type="text/x-template" id="temp1">
					<div class="p2-bg max-bg">
						<!--头部彩带-->
						<div class="five-star-person">
							<div class="ribbon">
								<div class="ribbon-content">
									<i></i>
									<i></i>
								</div>
							</div>
						</div>
						<!--主要内容-->
						<div class="your-face">
							<div><img src="../img/p2-6.png" /></div>
							<div><img src="../img/p2-5.png" /></div>
							<div>拥有三头六臂的能力</div>
						</div>
						<div class="your-face">
							<div><img src="../img/p2-4.png" /></div>
							<div><img src="../img/p2-3.png" /></div>
							<div>一颗追求卓越的上进心</div>
						</div>
						<div class="your-face">
							<div><img src="../img/p2-2.png" /></div>
							<div><img src="../img/p2-1.png" /></div>
							<div>公认的学习榜样和楷模</div>
						</div>
					</div>
					</script>
				</div>
			</div>
			<div class="page page3">
				<div class="contain" id="p2">
					<script type="text/x-template" id="temp2">
					<div class="p-3-bg max-bg">
						<div class="head-img">
							<img src="../img/p3-12.png" />
							<!--<img src="../img/p3-3.png" />-->
							<div></div>
							<p>sonyahuang(黄诗卉)</p>
						</div>
						<div class="duang">
							<i><img src='../img/p3-2.png'/></i>
							<img src="../img/p3-4.png">
							<i><img src="../img/p3-5.png"/></i>
						</div>
						<div class="join-us-five">
							<div class="join-first join-animate-1">
								<span>您于<span  class="change-color">2013.07.19</span>加入鹅鹅伐木累<span class="dot-circle dot-1"></span><i></i></span>
							</div>
							<div class="join-first join-animate-2">
								<span><i></i><span class="dot-circle dot-2"></span>已累计获得5星啦<span class="change-color">2次</span>啦</span>
							</div>
							<div class="join-first join-animate-3">
								<span>超越了<span  class="change-color">92.6%</span>的鹅厂精英<span class="dot-circle dot-3"></span><i id="change-img"></i></span>
							</div>
							<div class="road1"></div>
							<div class="road2"></div>
							<div class="road3"><i class="last-dot"></i></div>
						</div>
						<div class="clear"></div>
						<div class="set-position">
							<div class="bottom-dance bottom-dance-h-3">
								<img src="../img/p6-12-l.png" />
								<img src="../img/p6-12-r.png" />
								<img src="../img/p3-7.png">
							</div>
						</div>
					</div>
					</script>
				</div>
			</div>
			<div class="page page4">
				<div class="contain" id="p3">
					<script type="text/x-template" id="temp3">
					<div class="p4-bg max-bg">
						<div class="t-img">
							<img src="../img/p4-7.png">
							<img src="../img/p4-6.png">
						</div>
						<div class="person-msg">
							<dl>
								<dt><i></i><span>chthhchen(陈韵)</span></dt>
								<dd id="moreMsg1">对工作充满热情，关注细节，追求完美，表现出色！尤其是在跨部门的项目中更是表现出良好的团队合作能力。希望在未来工作中<span class="btn" id="btn1">更多评语</span></dd>
							</dl>
							<dl>
								<dt><i></i><span>maggiewei(魏颖)</span></dt>
								<dd id="moreMsg2">对工作充满热情，关注细节，追求完美，表现出色！尤其是在跨部门的项目中更是表现出良好的团队合作能力。希望在未来工作中<span class="btn" id="btn2">更多评语</span></dd>
							</dl>
						</div>
					</div>
					<!--弹出层相关-->
					<div id="black-layer" class="black-layer-none">
						<div class="detail-box">
							<i id="calcle-btn"></i>
							<i></i>
							<dl>
								<dt>cathyychen(陈韵)</dt>
								<dd>对工作充满热情，关注细节，追求完美，表现出色！尤其是在跨部门的项目中更是表现出良好的团队合作能力。希望在未来工作中可以看到你更多的创新和闪光点。</dd>
							</dl>
						</div>
					</div>
					</script>
				</div>
			</div>
			<div class="page page5">
				<div class="contain" id="p4">
					<script type="text/x-template" id="temp4">
					<div class="p5-bg max-bg">
							<div class="first-content">
							<div class="bottom-dance bottom-dance-h-5">
								<i></i>
								<i></i>
								<img src="../img/p6-12-l.png"/>
								<img src="../img/p6-12-r.png"/>
								<i></i>
								<i></i>
								<i></i>
							</div>
							<div class="five-star-5">
							</div>
						</div>
						<div class="right-detail">
							<dl>
								<i></i>
								<dt>奖金+奖杯</dt>
								<dd>白花花的6000大洋（连续3次5星奖金8000RMB）企鹅定制版5星奖杯，有Pony亲笔签名哦！</dd>
							</dl>
							<dl>
								<i></i>
								<dt>薪酬</dt>
								<dd>鹅们的大爱！年度绩效奖、公司特别奖及年度调薪轻松享。</dd>
							</dl>
							<div class="clear"></div>
							<dl class="add-line">
								<i></i>
								<dt>安居计划</dt>
								<dd>若近三次绩效为4星/5星，工作满2年，50W安居贷款助你早日实现买房梦！</dd>
							</dl>
							<dl class="add-line">
								<i></i>
								<dt>职级晋升</dt>
								<dd>晋升大门全面敞开！若上次的绩效为4星/5星，更尊享绿色通道。</dd>
							</dl>
							<div class="clear"></div>
						</div>
					</div>
					</script>
				</div>
			</div>
			<div class="page page6">
				<div class="contain" id="p5">
					<script type="text/x-template" id="temp5">
					<div class="p6-bg max-bg">
							<div class="star-night">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<i></i>
								<div class="title-img bing-star">
									<img src="../img/p6-5.png" class="first" />
									<img src="../img/p6-6.png" class="first" />
								</div>
								<div class="cloud-box">
									<div class="cloud">
									</div>
									<div></div>
									<div></div>
								</div>
								<div class="bottom-dance bottom-dance-h-6-1 m-6-1">
										<img src="../img/p6-12-l.png"/>
										<img src="../img/p6-12-r.png"/>
								</div>
						</div>
						<div class="cloudy c1"></div>
						<div class="cloudy c2"></div>
					</div>
					</script>
				</div>
			</div>
			<div class="page page7">
				<div class="contain" id="p6">
					<script type="text/x-template" id="temp6">
					<div class="p7-bg max-bg">
						<div class="star-night" id="star-night">
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
						</div>
						<div class="title-img-2 bing-star-2">
							<i></i>
							<img src="../img/p6-2-1.png" />
							<img src="../img/p6-2-2.png" />
							<i></i>
						</div>
						<div class="bottom-dance bottom-dance-h-6-1 m-6-2">
								<img src="../img/p6-12-l.png"/>
								<img src="../img/p6-12-r.png"/>
						</div>
						<div class="cloudy c1"></div>
						<div class="cloudy c2"></div>
					</div>
					</script>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="../js/fullPage.min.js"></script>
	<script type="text/javascript">
		document.ontouchmove = function(e) {
			e.preventDefault();
		}
		var runPage,
			interval,
			autoPlay;
		autoPlay = function(to) {
			clearTimeout(interval);
			interval = setTimeout(function() {
				runPage.go(to);
			}, 5000);
		}
		runPage = new FullPage({
			id: 'pageContain',
			slideTime: 800,
			continuous: true,
			effect: {
				transform: {
					translate: 'Y',
					scale: [1, 1],
					rotate: [0, 0]
				},
				opacity: [0, 1]
			},
			mode: 'wheel,touch',
			easing: 'ease',
			callback:function(index,thisPage){
				/*懒加载处理资源*/
				if(index>0){
					var indexPage = document.getElementById('p'+index);
					if(document.getElementById('temp'+index)){
						var tmplPage = document.getElementById('temp'+index).innerHTML;
						indexPage.innerHTML = tmplPage;
					}
					if(index==3){
						var button = document.getElementById('btn1');
						var button2 = document.getElementById('btn2');
						var layer = document.getElementById('black-layer');
						var calcleBtn = document.getElementById('calcle-btn');
						var moreMsg = document.getElementById('moreMsg1');
						var moreMsg2 = document.getElementById('moreMsg2');
						button.addEventListener('click', function(){
							layer.className = "black-layer-block";
						}, false);
						button2.addEventListener('click', function(){
							layer.className = "black-layer-block";
						}, false);
						moreMsg.addEventListener('click',function(){
							layer.className = "black-layer-block";
						},false);
						moreMsg2.addEventListener('click',function(){
							layer.className = "black-layer-block";
						},false);
						calcleBtn.addEventListener('click',function(){
							layer.className = "black-layer-none";
						},false);
					}
				}
			},
		});
	</script>

</html>